*.pdf
venv_311/
.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
.env
config/llm_api.env
.obsidian/
.idea/
.vscode/
/build/
/dist/

/outputs/
/saves/
/model/
/models/
/wandb/
/logs/

/data/belebele/

*.safetensors
*.bin
*.pt
*.pth
*.ckpt
